* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

body {
    /* font-family: 'Segoe UI', Roboto; */
    /* font-family: Arial, sans-serif; */
    font-family: "Anek Telugu", sans-serif;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    background-color: whitesmoke;
}

.hidden {
    display: none;
}


a {
    text-decoration: none;
    color: black;
}

p {
    color: rgb(100, 114, 127);
}

/***********************loading_page.html-Start******************************/

.loading_page_logo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    /* Initial rotation angle */
    font-size: 100px;
    width: 100px;
    animation: logoRotationAnimation 3s linear infinite;
}

/* Define the animation */
@keyframes logoRotationAnimation {

    0% {
        transform: translate(100%);
        border-radius: 0%;
        box-shadow: 0px 0px 0px black;
    }

    25% {
        transform: translate(0%);
        border-radius: 50%;
        box-shadow: 1px 1px 10px black;
    }


    50% {
        transform: translate(-100%);
        border-radius: 0%;
        box-shadow: 0px 0px 0px black;
    }

    75% {
        transform: translate(0%);
        border-radius: 50%;
        box-shadow: 1px 1px 10px black;
    }

    100% {
        transform: translate(100%);
        border-radius: 0%;
        box-shadow: 0px 0px 0px black;
    }
}

/***********************loading_page.html-End******************************/


/************************Animation-Start*********************************/

.hidden-image-left,
.hidden-image-right,
.hidden-image-top,
.hidden-image-right-slow {
    opacity: 1;
    transition: opacity 0.1s, transform 0.5s;
    transform: translateX(0%);
}

.hidden-image-top {
    transition: opacity 0.001s, transform 0.4s;
}

.hidden-image-right-slow {
    transition: opacity 0.001s, transform 0.6s;
}

.visible-image-left {
    opacity: 0;
    transform: translateX(-10%);
}

.visible-image-right {
    opacity: 0;
    transform: translateX(10%);
}

.visible-image-top {
    opacity: 0;
    transform: translateY(50%);
}

.visible-image-right-slow {
    opacity: 0;
    transform: translateX(10%);
}

/************************Animation-End*********************************/

/***************************Animation_fadeInDown-Start******************************/
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Define the keyframe animation */
@keyframes moveGradient {
    0% {
        background: linear-gradient(130deg, #18ffbe, #00D094, #00D094, #00D094, #00D094, #00D094, #00D094, #00D094, #00D094);
    }

    25% {
        background: linear-gradient(130deg, #00D094, #00D094, #18ffbe, #00D094, #00D094, #00D094, #00D094, #00D094, #00D094);
    }

    50% {
        background: linear-gradient(130deg, #00D094, #00D094, #00D094, #00D094, #18ffbe, #00D094, #00D094, #00D094, #00D094);
    }

    75% {
        background: linear-gradient(130deg, #00D094, #00D094, #00D094, #00D094, #00D094, #00D094, #18ffbe, #00D094, #00D094);
    }


    100% {
        background: linear-gradient(130deg, #00D094, #00D094, #00D094, #00D094, #00D094, #00D094, #00D094, #00D094, #18ffbe);
    }
}

/***************************Animation_fadeInDown-End******************************/
/***************************DarkLight_switch-Start******************************/
.light_dark-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 30px;
    bottom: 30px;
    background-color: #00D094;
    /* border: 2px solid orange; */
    border-radius: 0.2cm;
    z-index: 999;
    cursor: pointer;
}


.light_dark-switch img {
    width: 35px;
    margin-bottom: 0px;
    padding: 8px;
}

/***************************DarkLight_switch-End******************************/
/***************************Header-Start******************************/
.sticky {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 1px gray;
    animation: fadeInDown 0.5s linear alternate;
    /* border: 2px solid red; */
}

.header-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 100px;
}

.header_logo img {
    border-radius: 50%;
    width: 70px;
    box-shadow: 0px 0px 100px 0px green;
}

.header_main-menu_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    /* border: 2px solid red; */
}


.header_main-menu_ul li {
    list-style-type: none;
    display: block;
}

.header_sub-menu_ul {
    /* border: 2px solid red; */
    padding-left: 0%;
    transition: transform 0.2s ease;
    display: none;
    position: absolute;
    z-index: 998;
}

.header_sub-menu_ul:hover {
    display: block;
}

.header_sub-menu_ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.header_sub-menu_ul a:hover {
    background-color: #ccc;
    /* Add a background color on hover for better visibility */
}

.header_main-menu_ul-li:hover {
    text-shadow: 0px 0px 1px red;
}

.header_main-menu_ul-li:hover .header_sub-menu_ul {
    display: block;
    text-shadow: 0px 0px 0px black;
    /* background-color: rgb(178, 255, 186); */
    box-shadow: 0px 0px 200px 0px gray;
}


.box_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 35px;
    background-color: #00D094;
    border-radius: 0.3cm;
    transition: transform 0.2s ease;
    font-weight: bold;
}


/* Add animation on hover */
.box_button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    animation: moveGradient 0.25s linear;
}


/***************************Header-Ebd******************************/


/***************************box01-Coin-Start******************************/
.box01_left_image img {
    margin-top: 30px;
    animation: bannerCoin 10s linear infinite;
}

@keyframes bannerCoin {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(270deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

/***************************box01-Coin-End******************************/

/***********************************Common_box-Start**********************************/
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid orange; */
    width: 100%;
    padding: 10px 100px;
}


.box_heading {
    font-size: 44px;
    word-spacing: 2px;
    /* border: 2px solid #0A4FD5; */
}

.box_heading span {
    color: #0A4FD5;
}


.box_content {
    color: gray;
    word-spacing: 2px;
    font-size: 17px;
    font-weight: lighter;
    /* border: 2px solid #0A4FD5; */
}

/***********************************Common_box-End**********************************/

/***********************************box01_Css-Start**********************************/


.box01_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
    /* border: 2px solid #0A4FD5; */
}

.box01_left_a-tag {
    display: flex;
    gap: 20px;
    /* border: 2px solid #0A4FD5; */
}


@keyframes moveLeftToRight {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0px);
    }
}

.box01_right {
    position: relative;
    right: 0;
    /* border: 2px solid red; */
}

.box01_right img {
    width: 420px;
    /* border: 2px solid green; */
    animation: moveLeftToRight 3.5s linear infinite alternate;
}


.box_button02 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 35px;
    border-radius: 0.3cm;
    border: 1px solid #0A4FD5;
    font-weight: bold;
    transition: transform 0.2s ease;
}

.box_button02:hover {
    background-color: #0A4FD5;
    color: #ffff;
    transform: translateY(-3px);
}



.box01_left_follow-us {
    font-size: 17px;
}

.box01_left_social_link {
    display: flex;
    gap: 25px;
    padding: 10px 0px;
}


.box01_left_social_link img {
    width: 30px;
    border-radius: 0.5cm;
}

/***********************************box01_Css-End**********************************/


/***********************************box02_Css-Start**********************************/

.box02_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* width: 420px; */
    height: 420px;
}

.box02_left img {
    width: 500px;
    /* border: 2px solid red; */
}

.floating-content__top-left,
.floating-content__bottom-right {
    position: relative;
    background-color: white;
    width: 230px;
    padding: 15px 20px;
    border-radius: 0.5cm;
    /* border: 2px solid red; */
}


.floating-content__top-left h3,
.floating-content__bottom-right h3 {
    font-size: 28px;
    color: #0A4FD5;
}


.floating-content__top-left {
    top: 180px;
    left: -100px;
}

.floating-content__bottom-right {
    top: -160px;
    left: 100px;
}

.box02_right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* border: 2px solid red; */
    overflow: hidden;
}


.box02_right_box_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 18px 35px;
}

/***********************************box02_Css-End**********************************/
/***********************************ShapeImage_Css-Start**********************************/

.feature__shape {
    position: relative;
    top: -450px;
    left: 780px;
    animation: moveLeftToRight 3.5s linear infinite alternate;

}

/***********************************ShapeImage_Css-End**********************************/
/***********************************box03_Css-Start**********************************/

.box03_left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.box03_left_header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box03_left_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box03_left_list_h6 {
    font-size: 18px;
    padding: 30px 20px;
    border-radius: 0.5cm;
    background-color: whitesmoke;
    color: gray;
}


.box03_right_image {
    height: 440px;
}

.box03_right_image_top_content,
.box03_right_image_bottom_content {
    position: relative;
    top: -515px;
    left: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 2px solid red; */
    width: 280px;
    background-color: white;
    border-radius: 2cm 5cm;
    padding: 20px 20px;
    /* border: 2px solid red; */
}


.box03_right_image_bottom_content {
    top: -200px;
    left: 70px;
}

.box03_right_image_top_content p,
.box03_right_image_bottom_content p {
    font-size: 18px;
    font-weight: bold;
}


.box03_right_image_top_content img {
    width: 70px;
}

.box03_right_image_bottom_content h3 {
    font-size: 30px;
    color: #00D094;
}

/***********************************box03_Css-End**********************************/

/***********************************box04_Css-Start**********************************/
.box04 {
    flex-direction: column;
    gap: 50px;
}

.box04_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    gap: 10px;
    width: 450px;
}

.box04_boxs-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.box04_down_box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
    width: 330px;
    height: 300px;
    border-radius: 0.5cm;
    transition: transform 0.2s ease;
    border: 2px solid transparent;
    background-color: #EDF2F8;
}

.box04_down_box:hover {
    border: 2px solid #00D094;
    transform: translateY(-3px);
}


.box04_down-service_content,
.box04_down_image-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.box04_down_image-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
}

.box04_down-service_content h5 {
    font-size: 24px;
}

.box04_down-service_content p {
    font-size: 18px;
}

/***********************************box04_Css-End**********************************/
/***********************************shape01_Image_Css-Start**********************************/
.wp-image-238 {
    width: 106px;
    position: relative;
    left: 200px;
    top: 120px;
    animation: fadeInDown 0.7s alternate infinite;
}

/***********************************shape01_Image_Css-End**********************************/
/***********************************box05_Css-Start**********************************/

.box05 {
    flex-direction: column;
    gap: 50px;
    /* margin-top: -110px; */
}

.box05_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 480px;
    /* border: 2px solid red; */
}

.box05_boxs-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    width: 100%;
}

.box05_down_box {
    display: flex;
    justify-content: center;
    width: 500px;
    border-radius: 0.3cm;
    padding: 50px;
    background-color: #EDF2F8;
    /* border: 2px solid red; */
}

.box05_down_box-right {
    margin-right: 50%;
}

.box05_down_box-left {
    margin-left: 50%;
}

.box05_down_box-header h3 {
    font-size: 28px;
}

.box05_down_box-header span {
    font-size: 28px;
    font-weight: bold;
    color: #00D094;
}


.box05_down_box-header {
    display: flex;
    justify-content: space-between;
}

.box05_down_box-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box05_down_box-content p {
    line-height: 25px;
}

/***********************************box05_Css-End**********************************/

/***********************************box06_Css-Start**********************************/

.box06 {
    flex-direction: column;
    gap: 50px;
    /* margin-top: -110px; */
}

.box06_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 480px;
    /* border: 2px solid red; */
}

.box06_boxs-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    width: 100%;
}

.box06_boxs-content li {
    list-style-type: none;
}

.box06_down_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 0.25cm;
    border: 2px solid transparent;
    background-color: white;
    /* border: 2px solid red; */
}

.box06_down_box00 {
    border: 2px solid #00D094;
}

.box06_down_box01:hover {
    border: 2px solid #00D094;
}

.box06_down_box-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 280px;
    border: 2px solid #00D094;
    padding: 10px;
    border-radius: 0.25cm;
    cursor: pointer;
}

.box06_down_box-choose00 {
    background-color: #00D094;
}

.box06_down_box-choose01:hover {
    background-color: #00D094;
}

.box06_down_box-content h6 {
    font-size: 18px;
}

.box06_down_box-content h3 {
    font-size: 28px;
    color: #0A4FD5;
    /* border: 2px solid red; */
}

.box06_down_box-content span {
    font-size: 18px;
    color: gray;
}

.box06_down_box-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box06_down_box-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box06_down_box-list li {
    display: flex;
    align-items: center;
    gap: 5px;
}

/***********************************box06_Css-End**********************************/
/***********************************box07_Css-Start**********************************/

.box07 {
    flex-direction: column;
    gap: 50px;
    /* margin-top: -110px; */
}

.box07_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 480px;
    /* border: 2px solid red; */
}

.box07_boxs-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    width: 100%;
}

.box07_down_box {
    display: flex;
    flex-direction: column;
    border-radius: 0.25cm;
    /* border: 2px solid green; */
    background-color: rgb(208, 233, 241);
    position: relative;
    padding-top: 10px;
    height: 315px;
    margin-top: 20px;
}

.box07_down_box_image img {
    position: relative;
    width: 260px;
}

.box07_down_box_image00 img {
    top: 35px;
}

.box07_down_box_image img:hover {
    transform: translateY(-10px);
    transition: opacity 0.5s, transform 0.5s;
}

.box07_down_box-stretched_link {
    font-size: 20px;
}

.box07_down_box_p-tag {
    font-size: 14px;
}

.box07_down_box_a-tag {
    position: relative;
    left: 5px;
    right: 5px;
    bottom: 82px;
    background-color: whitesmoke;
    width: 250px;
    padding: 15px;
    border-radius: 0.25cm;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid green; */
}

.box07_down_box_a-tag00 {
    top: -50px;
}

.box_down_box_viewmore {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00D094;
    border-radius: 0.25cm;
    padding: 15px 30px;
    transition: transform 0.2s ease;
    font-weight: bold;
}


.box_down_box_viewmore:hover {
    animation: moveGradient 0.25s linear;
    cursor: pointer;
    transform: translateY(-3px);

}

/***********************************box07_Css-End**********************************/
/***********************************box08_Css-Start**********************************/
.box08 {
    flex-direction: column;
    gap: 50px;
}

.box08_heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /* border: 2px solid red; */
}

.box08_boxs-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* border: 2px solid green; */
}

.box08_down_box {
    display: flex;
    flex-direction: column;
    width: 650px;
    border: 2px solid transparent;
    margin-bottom: 30px;
    width: 350px;
    padding: 30px;
    border-radius: 0.5cm;
    background-color: white;
    gap: 20px;
}

.box08_down_box:hover {
    border: 2px solid #00D094;
}

.box08_down_box_top-image {
    display: flex;
    align-items: center;
    width: 295px;
    height: 265px;
    /* border: 2px solid green; */
}

.box08_down_box_top-image img {
    width: 280px;
    height: 250px;
    border-radius: 0.5cm;
}

.box08_down_box_top-image img:hover {
    width: 290px;
    height: 260px;
}

.box08_down_box_bottom-image img {
    width: 50px;
    border-radius: 50%;
}

.box08_down_box_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box08_down_box_content h5 {
    font-size: 20px;
}

.box08_down_box_blog-meta a {
    color: #0A4FD5;
    font-weight: bold;
}

.box08_down_box_blog-writer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.box08_down_box_blog_writer-designation {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/***********************************box08_Css-End**********************************/
/***********************************box09_Css-Start**********************************/
.box09 {
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.box09_heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /* border: 2px solid red; */
}

.box09_boxs-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /* border: 2px solid green; */
    line-height: 20px;
    gap: 20px;
}


.fa-quote-right {
    font-size: xx-large;
    color: #00D094;
}

.box09_down_box {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 50px;
    border-radius: 0.5cm;
    border: 2px solid transparent;
    background-color: white;
    gap: 20px;
}

.box09_down_box:hover {
    border: 2px solid #00D094;
}

.box09_down_box-footer {
    display: flex;
    justify-content: space-between;
}

.box09_down_box-Image {
    display: flex;
    gap: 20px;
}

.box09_down_box-Image img {
    border-radius: 50%;
}

.box09_down_box-designation {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

/***********************************box09_Css-End**********************************/
/***********************************box10_Css-Start**********************************/
.box10 {
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.box10_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    /* border: 2px solid red; */
}

.box10_boxs-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid #00D094; */
    width: 100%;
}

.box10_left {
    width: 615px;
    /* border: 2px solid #00D094; */
}

.box10_left_content-list {
    padding: 10px;
    border: 1px solid lightgray;
    border-left: none;
    border-right: none;
}

.wp-image-301 {
    width: 443px;
    height: 370px;
}


.box10_left_content-header button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 10px 0px;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

.box10_left_content-button-hide {
    padding: 0px 10px 3px 10px;
    border: 2px solid #00D094;
    border-radius: 50%;
    color: #00D094;
}

/***********************************box10_Css-End**********************************/
/***********************************box11_Css-Start**********************************/
.box11 {
    flex-direction: column;
    gap: 50px;
    width: 100%;
    margin-top: 100px;
}

.box11_heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wp-image-341 {
    position: relative;
    left: -500px;
    animation: bannerCoin 10s linear infinite;
}

.wp-image-312 {
    width: 245;
    height: 235;
}

.wp-image-238-00 {
    top: 0px;
    left: 500px;
}

.box11_boxs-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00D094;
    border-radius: 0.5cm;
    gap: 50px;
    padding: 80px 100px;
    /* border: 2px solid red; */
    width: 100%;
}

.box11_right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    gap: 10px;
}

.form-control--style2 {
    padding: 25px 20px;
    border-radius: 0.25cm;
    border: none;
    color: whitesmoke;
    font-weight: bold;
    width: 265px;
}


.trk-btn--secondary2 {
    padding: 25px 50px;
    border-radius: 0.25cm;
    border: none;
    background-color: #0A4FD5;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}

/***********************************box11_Css-End**********************************/
/***********************************footer_Css-Start**********************************/
#colophon {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid #0A4FD5; */
    background-color: #13271d;
    border-radius: 0.5cm;
    gap: 50px;
    color: antiquewhite;
    padding: 50px 100px;
    height: 430px;
}

.e-con-inner_footer__shape {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 2px solid #0A4FD5; */
    gap: 20px;
    width: 100%;
}

.line {
    margin: 0px;
    border: 1px solid gray;
}

#colophon li {
    list-style-type: none;
}

.elementor-element-bd984a0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    gap: 50px;
    width: 100%;
}

.elementor-element-455b42f {
    /* border: 2px solid orange; */
    width: 580px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__app {
    display: flex;
    gap: 20px;
}

.footer__app-item--apple,
.footer__app-item--playstore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    padding: 10px 8px;
    border-radius: 0.25cm;
    gap: 10px;
    font-size: 8.5px;
}

.footer__app-item--apple {
    background-color: #00D094;
    color: black;
}

.footer__app-item--playstore {
    background-color: rgb(1, 1, 108);
    color: white;
}

.footer__app-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.footer__app-content p {
    font-weight: bold;
    font-size: 14px;
}

.footer__app-content .mb-0L {
    color: black;
}

.footer__app-content .mb-0R {
    color: white;
}

.elementor-element-7c023eb {
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* border: 2px solid yellow; */
    width: 100%;
    height: 100%;
    line-height: 35px;
}

.elementor-element-ec42b89 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid greenyellow; */
}

.elementor-icon-list-text,
.elementor-heading-title-default {
    color: rgb(159, 158, 158);
    /* border: 2px solid red; */
}

.elementor-widget-container_size-default h5 {
    font-size: 18px;
    /* border: 2px solid blue; */
}



.elementor-element-39c3f15 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid blue; */
}

.list-wrap01 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 2px solid orange; */
}

.list-wrap01 img {
    width: 30px;
    border-radius: 50%;
}

.wp-image-419 {
    position: relative;
    bottom: 350px;
    left: 355px;
    animation: moveLeftToRight 2s linear infinite alternate;
    width: 60px;
}

/***********************************footer_Css-End**********************************/


@media screen and (max-width: 1100px) {

    .wp-image-238-00 {
        display: none;
    }

    /* body {
            overflow-x: hidden;
        } */

    .header-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 100px;
        /* border: 2px solid red; */
    }

    .header_main-menu_ul {
        display: none;
    }

    .header_menu-bar_parent {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .header_main-menu_ul01 li {
        list-style-type: none;
    }

    .header_sub-menu_ul li {
        display: none;
    }

    .header_menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .header_menu-bar img {
        background-color: black;
        border-radius: 50%;
        width: 35px;
        cursor: pointer;
    }

    .header_menu-bar span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 35px;
        font-size: 25px;
        cursor: pointer;
        border-radius: 50%;
    }


    .header_main-menu_ul01 {
        position: absolute;
        top: 85px;
        background-color: #ffff;
    }

    .box {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* border: 2px solid green; */
    }

    .box03 {
        gap: 80px;
    }

    .box04_boxs-content {
        justify-content: center;
    }

    .box05_down_box-right {
        margin-right: 10%;
    }

    .box05_down_box-left {
        margin-left: 10%;
    }

    .box06_boxs-content {
        justify-content: center;
    }

    .box07_boxs-content {
        justify-content: center;
        gap: 50px;
    }

    .box08_heading {
        text-align: center;
    }

    .box08_boxs-content {
        justify-content: center;
    }


    .box09_heading {
        text-align: center;
    }

    .box10_heading {
        flex-wrap: wrap;
        width: 100%;
    }

    .box10_boxs-content {
        flex-wrap: wrap;
        gap: 50px;
    }

    .box11_heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        /* border: 2px solid green; */
        gap: 10px;

    }

    .box11_boxs-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        /* gap: 50px; */
        width: 100%;
        height: 100%;
        /* border: 2px solid green; */
        padding: 20px;
        gap: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;
    }


    #colophon {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        border: 2px solid #0A4FD5;
        background-color: #13271d;
        border-radius: 0.5cm;
        gap: 50px;
        color: antiquewhite;
        padding: 50px 100px;
        height: auto;
    }

    .elementor-element-bd984a0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 2px solid red; */
        gap: 20px;
        width: 100%;
    }

    .elementor-element-39c3f15 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* border: 2px solid blue; */
        gap: 20px;
    }


}


@media screen and (max-width: 799px) {

    .wp-image-238-00 {
        display: none;
    }

    /* body {
        overflow-x: hidden;
    } */

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* width: 100%; */
        padding: 10px 50px;
        /* border: 2px solid red; */
    }

    .header_main-menu_ul {
        display: none;
    }

    .header_menu-bar_parent {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .header_main-menu_ul01 li {
        list-style-type: none;
    }

    .header_sub-menu_ul li {
        display: none;
    }

    .header_menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .header_menu-bar img {
        background-color: black;
        border-radius: 50%;
        width: 35px;
        cursor: pointer;
    }

    .header_menu-bar span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 35px;
        font-size: 25px;
        cursor: pointer;
        border-radius: 50%;
    }


    .header_main-menu_ul01 {
        position: absolute;
        top: 85px;
        background-color: #ffff;
    }

    .box {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* border: 2px solid green; */
        padding: 10px 50px;
    }

    .box03 {
        gap: 80px;
    }

    .box04_boxs-content {
        justify-content: center;
    }

    .box05_down_box-right {
        margin-right: 10%;
    }

    .box05_down_box-left {
        margin-left: 10%;
    }

    .box06_boxs-content {
        justify-content: center;
    }

    .box07_boxs-content {
        justify-content: center;
        gap: 50px;

    }

    .box08_heading {
        text-align: center;
    }

    .box08_boxs-content {
        justify-content: center;
    }


    .box09_heading {
        text-align: center;
    }

    .box10_heading {
        flex-wrap: wrap;
        width: 100%;
    }

    .box10_boxs-content {
        flex-wrap: wrap;
        gap: 50px;
    }

    .box11_heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        /* border: 2px solid green; */
        gap: 10px;

    }

    .box11_boxs-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        /* gap: 50px; */
        width: 100%;
        height: 100%;
        /* border: 2px solid green; */
        padding: 20px;
        gap: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;
    }


    #colophon {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        border: 2px solid #0A4FD5;
        background-color: #13271d;
        border-radius: 0.5cm;
        gap: 50px;
        color: antiquewhite;
        padding: 50px 100px;
        height: auto;
    }

    .elementor-element-bd984a0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 2px solid red; */
        gap: 20px;
        width: 100%;
    }

    .elementor-element-39c3f15 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* border: 2px solid blue; */
        gap: 20px;
    }


}


@media screen and (max-width: 599px) {

    .wp-image-238-00 {
        display: none;
    }

    /* * {
        border: 2px solid red;
    } */

    /* body {
            overflow-x: hidden;
        } */


    .header-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        /* border: 2px solid red; */
    }

    .header_main-menu_ul {
        display: none;
    }

    .header_menu-bar_parent {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .header_main-menu_ul01 li {
        list-style-type: none;
    }

    .header_sub-menu_ul li {
        display: none;
    }

    .header_menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .header_menu-bar img {
        background-color: black;
        border-radius: 50%;
        width: 35px;
        cursor: pointer;
    }

    .header_menu-bar span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 35px;
        font-size: 25px;
        cursor: pointer;
        border-radius: 50%;
    }


    .header_main-menu_ul01 {
        position: absolute;
        top: 85px;
        background-color: #ffff;
    }

    .box {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* border: 2px solid green; */
        padding: 10px 20px;
    }

    .box03 {
        gap: 80px;
    }

    .box04_boxs-content {
        justify-content: center;
    }

    .box05_down_box-right {
        margin-right: 10%;
    }

    .box05_down_box-left {
        margin-left: 10%;
    }

    .box06_boxs-content {
        justify-content: center;
    }

    .box07_boxs-content {
        justify-content: center;
    }

    .box08_heading {
        text-align: center;
    }

    .box08_boxs-content {
        justify-content: center;
    }


    .box09_heading {
        text-align: center;
    }

    .box10_heading {
        flex-wrap: wrap;
        width: 100%;
    }

    .box10_boxs-content {
        flex-wrap: wrap;
        gap: 50px;
    }

    .box11_heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        /* border: 2px solid green; */
        gap: 10px;

    }

    .box11_boxs-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        /* gap: 50px; */
        width: 100%;
        height: 100%;
        /* border: 2px solid green; */
        padding: 20px;
        gap: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;
    }


    #colophon {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        border: 2px solid #0A4FD5;
        background-color: #13271d;
        border-radius: 0.5cm;
        gap: 50px;
        color: antiquewhite;
        padding: 50px;
        height: auto;
    }

    .elementor-element-bd984a0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 2px solid red; */
        gap: 20px;
        width: 100%;
    }

    .elementor-element-39c3f15 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* border: 2px solid blue; */
        gap: 20px;
    }





    .box03_right_image img {
        width: 250px;
        height: 250px;
    }

    .box03_right_image_top_content img {
        width: 50px;
        height: 50px;
    }


    .box03_right_image_top_content,
    .box03_right_image_bottom_content {
        position: relative;
        top: -320px;
        left: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        /* border: 2px solid red; */
        width: 280px;
        background-color: white;
        border-radius: 2cm 5cm;
        padding: 20px 20px;
        /* border: 2px solid red; */
    }


    .box02_left img {
        width: 350px;
    }

    .floating-content__top-left h3,
    .floating-content__bottom-right h3 {
        font-size: 20px;
    }

    .floating-content__top-left p,
    .floating-content__bottom-right p {
        font-size: 10px;
    }


    .floating-content__top-left {
        top: 110px;
        left: -50px;
        width: 150px;
    }

    .floating-content__bottom-right {
        top: -120px;
        left: 80px;
        width: 150px;
    }



    .box03_right_image_bottom_content {
        top: -150px;
        left: 20px;
    }

    .box03_right_image_bottom_content h3 {
        font-size: 20px;
    }


    .box10_boxs-content {
        align-items: center;
        justify-content: center;
    }

    .wp-image-301 {
        width: 250px;
        height: 250px;
    }


}
