@media screen and (max-width: 1100px) {
    .box_boxs-content {
        width: 100%;
        flex-direction: column;
    }

    .header_boxs-content {
        flex-direction: row;
    }

    .box05 {
        display: none;
    }

    .box05b {
        display: flex;
    }

    .wp-image-238-00 {
        display: none;
    }

    body {
        /* overflow-x: hidden; */
        margin-top: 0px;
    }

    .header-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 100px;
        /* border: 2px solid red; */
    }

    .header_main-menu_ul {
        display: none;
    }

    .header_menu-bar_parent {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .header_main-menu_ul01 li {
        list-style-type: none;
    }

    .header_sub-menu_ul li {
        display: none;
    }

    .header_menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .header_menu-bar img {
        background-color: black;
        border-radius: 50%;
        width: 35px;
        cursor: pointer;
    }

    .header_menu-bar span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 35px;
        font-size: 25px;
        cursor: pointer;
        border-radius: 50%;
    }


    .header_main-menu_ul01 {
        position: absolute;
        top: 85px;
        right: 10px;
        background-color: #ffff;
    }

    .box {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* border: 2px solid green; */
        padding: 10px 50px;

    }

    .box03 {
        gap: 80px;
    }

    .box04_boxs-content {
        justify-content: center;
    }

    .box05_down_box-right {
        margin-right: 10%;
    }

    .box05_down_box-left {
        margin-left: 10%;
    }

    .box05_down_box {
        width: 100%;
    }

    .box06_boxs-content {
        justify-content: center;
    }

    .box07_boxs-content {
        justify-content: center;
        gap: 50px;
    }

    .box08_heading {
        text-align: center;
        width: 100%;
    }

    .box08_boxs-content {
        justify-content: center;
    }


    .box09_heading {
        text-align: center;
        width: 100%;
    }

    .box10_heading {
        flex-wrap: wrap;
        width: 100%;
    }

    .box10_boxs-content {
        flex-wrap: wrap;
        gap: 50px;
    }

    .box11_heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        /* border: 2px solid green; */
        gap: 10px;

    }

    .box11_boxs-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        /* gap: 50px; */
        width: 100%;
        height: 100%;
        /* border: 2px solid green; */
        padding: 20px;
        gap: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;
    }


    #colophon {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* border: 2px solid #0A4FD5; */
        background-color: #13271d;
        border-radius: 0.5cm;
        gap: 50px;
        color: antiquewhite;
        padding: 50px 100px;
        height: auto;
    }

    .elementor-element-bd984a0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 2px solid red; */
        gap: 20px;
        width: 100%;
    }

    .elementor-element-39c3f15 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* border: 2px solid blue; */
        gap: 20px;
    }

    .box10_left,
    .box10_left_content-list,
    .box10_left_content-header,
    .box10_left_content-collapse p {
        width: 100%;
    }

    .box09_down_box {
        width: 100%;
    }

}


@media screen and (max-width: 799px) {

    .box_boxs-content {
        width: 100%;
        flex-direction: column;
    }

    .header_boxs-content {
        flex-direction: row;
    }

    .box05 {
        display: none;
    }

    .box05b {
        display: flex;
    }


    .wp-image-238-00 {
        display: none;
    }

    body {
        /* overflow-x: hidden; */
        margin-top: 0px;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* width: 100%; */
        padding: 10px 50px;
        /* border: 2px solid red; */
    }

    .header_main-menu_ul {
        display: none;
    }

    .header_menu-bar_parent {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .header_main-menu_ul01 li {
        list-style-type: none;
    }

    .header_sub-menu_ul li {
        display: none;
    }

    .header_menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .header_menu-bar img {
        background-color: black;
        border-radius: 50%;
        width: 35px;
        cursor: pointer;
    }

    .header_menu-bar span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 35px;
        font-size: 25px;
        cursor: pointer;
        border-radius: 50%;
    }


    .header_main-menu_ul01 {
        position: absolute;
        top: 85px;
        right: 10px;
        background-color: #ffff;
    }

    .box {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* border: 2px solid green; */
        padding: 10px 30px;
    }

    .box03 {
        gap: 80px;
    }

    .box04_boxs-content {
        justify-content: center;
    }

    .box05_down_box-right {
        margin-right: 10%;
    }

    .box05_down_box-left {
        margin-left: 10%;
    }

    .box05_down_box {
        width: 100%;
    }

    .box06_boxs-content {
        justify-content: center;
    }

    .box07_boxs-content {
        justify-content: center;
        gap: 50px;

    }

    .box08_heading {
        text-align: center;
        width: 100%;
    }

    .box08_boxs-content {
        justify-content: center;
    }


    .box09_heading {
        text-align: center;
        width: 100%;
    }

    .box10_heading {
        flex-wrap: wrap;
        width: 100%;
    }

    .box10_boxs-content {
        flex-wrap: wrap;
        gap: 50px;
    }

    .box11_heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        /* border: 2px solid green; */
        gap: 10px;

    }

    .box11_boxs-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        /* gap: 50px; */
        width: 100%;
        height: 100%;
        /* border: 2px solid green; */
        padding: 20px;
        gap: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;
    }


    #colophon {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* border: 2px solid #0A4FD5; */
        background-color: #13271d;
        border-radius: 0.5cm;
        gap: 50px;
        color: antiquewhite;
        padding: 50px 100px;
        height: auto;
    }

    .elementor-element-bd984a0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 2px solid red; */
        gap: 20px;
        width: 100%;
    }

    .elementor-element-39c3f15 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* border: 2px solid blue; */
        gap: 20px;
    }

    .box10_left,
    .box10_left_content-list,
    .box10_left_content-header,
    .box10_left_content-collapse p {
        width: 100%;
    }

    .box09_down_box {
        width: 100%;
    }

    .wp-image-238 {
        display: none;
    }

}


@media screen and (max-width: 599px) {

    /* * {
        border: 2px solid red;
    } */

    .box_boxs-content {
        width: 100%;
        flex-direction: column;
    }

    .header_boxs-content {
        flex-direction: row;
    }

    .box05 {
        display: none;
    }

    .box05b {
        display: flex;
    }


    .wp-image-238-00 {
        display: none;
    }


    body {
        /* overflow-x: hidden; */
        margin-top: 0px;
    }


    .header-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        /* border: 2px solid red; */
    }

    .header_main-menu_ul {
        display: none;
    }

    .header_menu-bar_parent {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .header_main-menu_ul01 li {
        list-style-type: none;
    }

    .header_sub-menu_ul li {
        display: none;
    }

    .header_menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .header_menu-bar img {
        background-color: black;
        border-radius: 50%;
        width: 35px;
        cursor: pointer;
    }

    .header_menu-bar span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 35px;
        font-size: 25px;
        cursor: pointer;
        border-radius: 50%;
    }


    .header_main-menu_ul01 {
        position: absolute;
        top: 85px;
        right: 10px;
        background-color: #ffff;
    }

    .box {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* border: 2px solid green; */
        padding: 10px 50px;
    }

    .box03 {
        gap: 80px;
    }

    .box01_right {
        width: 100%;
    }

    .box01_right img {
        width: 100%;
    }

    .box01_boxs-content {
        justify-content: center;
        width: 100%;
    }

    .box04_boxs-content {
        justify-content: center;
    }

    .box05_down_box-right {
        margin-right: 10%;
    }

    .box05_down_box-left {
        margin-left: 10%;
    }

    .box05_down_box {
        width: 100%;
    }

    .box06_boxs-content {
        justify-content: center;
    }

    .box07_boxs-content {
        justify-content: center;
    }

    .box08_heading {
        text-align: center;
        width: 100%;
    }

    .box08_boxs-content {
        justify-content: center;
    }


    .box09_heading {
        text-align: center;
        width: 100%;
    }

    .box10_heading {
        flex-wrap: wrap;
        width: 100%;
    }

    .box10_boxs-content {
        flex-wrap: wrap;
        gap: 50px;
    }

    .box11_heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        /* border: 2px solid green; */
        gap: 10px;

    }

    .box11_boxs-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        /* gap: 50px; */
        width: 100%;
        height: 100%;
        /* border: 2px solid green; */
        padding: 20px;
        gap: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;
    }


    #colophon {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* border: 2px solid #0A4FD5; */
        background-color: #13271d;
        border-radius: 0.5cm;
        gap: 50px;
        color: antiquewhite;
        padding: 50px;
        height: auto;
    }

    .elementor-element-bd984a0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 2px solid red; */
        gap: 20px;
        width: 100%;
    }

    .elementor-element-39c3f15 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* border: 2px solid blue; */
        gap: 20px;
    }





    .box03_right_image img {
        width: 250px;
        height: 250px;
    }

    .box03_right_image_top_content img {
        width: 50px;
        height: 50px;
    }


    .box03_right_image_top_content,
    .box03_right_image_bottom_content {
        position: relative;
        top: -320px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        /* border: 2px solid red; */
        width: 280px;
        background-color: white;
        border-radius: 2cm 5cm;
        padding: 20px 20px;
        /* border: 2px solid red; */
    }


    .box02_left img {
        width: 350px;
    }

    .floating-content__top-left h3,
    .floating-content__bottom-right h3 {
        font-size: 20px;
    }

    .floating-content__top-left p,
    .floating-content__bottom-right p {
        font-size: 10px;
    }


    .floating-content__top-left {
        top: 110px;
        left: -50px;
        width: 150px;
    }

    .floating-content__bottom-right {
        top: -120px;
        left: 80px;
        width: 150px;
    }



    .box03_right_image_bottom_content {
        top: -150px;
        left: 20px;
    }

    .box03_right_image_bottom_content h3 {
        font-size: 20px;
    }



    .box10_boxs-content {
        align-items: center;
        justify-content: center;
    }

    .wp-image-301 {
        width: 250px;
        height: 250px;
    }


    .box04_heading,
    .box05_heading,
    .box06_heading,
    .box07_heading,
    .box08_heading {
        width: 100%;
    }

    .box05_down_box {
        padding: 5px;
        width: 100%;
    }

    .box06_down_box {
        padding: 5px;
    }

    .box10_left,
    .box10_left_content-list,
    .box10_left_content-header,
    .box10_left_content-collapse p {
        width: 100%;
    }

    .box09_down_box {
        width: 100%;
    }

    .wp-image-238 {
        display: none;
    }

}






@media screen and (max-width: 499px) {


    /* * {
        border: 2px solid red;
    } */

    .box_boxs-content {
        width: 100%;
        flex-direction: column;
    }

    .header_boxs-content {
        flex-direction: row;
    }

    .box05 {
        display: none;
    }

    .box05b {
        display: flex;
    }

    .wp-image-238-00 {
        display: none;
    }



    body {
        /* overflow-x: hidden; */
        margin-top: 0px;
    }


    .header-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 10px;
        margin: 0;
        /* border: 2px solid red; */
    }

    .header_main-menu_ul {
        display: none;
    }

    .header_menu-bar_parent {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .header_main-menu_ul01 li {
        list-style-type: none;
    }

    .header_sub-menu_ul li {
        display: none;
    }

    .header_menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .header_menu-bar img {
        background-color: black;
        border-radius: 50%;
        width: 35px;
        cursor: pointer;
    }

    .header_menu-bar span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 35px;
        font-size: 25px;
        cursor: pointer;
        border-radius: 50%;
    }


    .header_main-menu_ul01 {
        position: absolute;
        top: 85px;
        right: 10px;
        background-color: #ffff;
    }

    .box {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* border: 2px solid green; */
        padding: 10px 50px;
        margin: 0;
    }

    .box03 {
        gap: 80px;
    }

    .box01_right {
        width: 100%;
    }

    .box01_right img {
        width: 100%;
    }

    .box01_boxs-content {
        justify-content: center;
        width: 100%;
    }

    .box04_boxs-content {
        justify-content: center;
    }

    .box05_down_box-right {
        margin-right: 10%;
    }

    .box05_down_box-left {
        margin-left: 10%;
    }

    .box06_boxs-content {
        justify-content: center;
    }

    .box07_boxs-content {
        justify-content: center;
    }

    .box08_heading {
        text-align: center;
        width: 100%;
    }

    .box08_boxs-content {
        justify-content: center;
    }


    .box09_heading {
        text-align: center;
        width: 100%;
    }

    .box10_heading {
        flex-wrap: wrap;
        width: 100%;
    }

    .box10_boxs-content {
        flex-wrap: wrap;
        gap: 50px;
    }

    .box11_heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        /* border: 2px solid green; */
        gap: 10px;

    }

    .box11_boxs-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        /* gap: 50px; */
        width: 100%;
        height: 100%;
        /* border: 2px solid green; */
        padding: 10px;
        gap: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;
    }


    #colophon {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* border: 2px solid #0A4FD5; */
        background-color: #13271d;
        border-radius: 0.5cm;
        gap: 50px;
        color: antiquewhite;
        padding: 50px;
        height: auto;
    }

    .elementor-element-bd984a0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 2px solid red; */
        gap: 20px;
        width: 100%;
    }

    .elementor-element-39c3f15 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* border: 2px solid blue; */
        gap: 20px;
    }





    .box03_right_image img {
        width: 250px;
        height: 250px;
    }

    .box03_right_image_top_content img {
        width: 50px;
        height: 50px;
    }


    .box03_right_image_top_content,
    .box03_right_image_bottom_content {
        position: relative;
        top: -320px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        /* border: 2px solid red; */
        width: 280px;
        background-color: white;
        border-radius: 2cm 5cm;
        padding: 10px;
        /* border: 2px solid red; */
    }


    .box02_left img {
        width: 350px;
    }

    .floating-content__top-left h3,
    .floating-content__bottom-right h3 {
        font-size: 20px;
    }

    .floating-content__top-left p,
    .floating-content__bottom-right p {
        font-size: 10px;
    }


    .floating-content__top-left {
        top: 110px;
        left: -50px;
        width: 150px;
    }

    .floating-content__bottom-right {
        top: -120px;
        left: 0px;
        width: 150px;
    }



    .box03_right_image_bottom_content {
        top: -150px;
        left: 20px;
    }

    .box03_right_image_bottom_content h3 {
        font-size: 20px;
    }



    .box10_boxs-content {
        align-items: center;
        justify-content: center;
    }

    .wp-image-301 {
        width: 250px;
        height: 250px;
    }


    .box04_heading,
    .box05_heading,
    .box06_heading,
    .box07_heading,
    .box08_heading {
        width: 100%;
    }

    .box05_down_box {
        padding: 5px;
        width: 100%;
    }

    .box06_down_box {
        padding: 5px;
    }


    #colophon {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* border: 2px solid #0A4FD5; */
        background-color: #13271d;
        border-radius: 0.5cm;
        gap: 50px;
        color: antiquewhite;
        padding: 35px;
        height: auto;
        margin: 0;
    }

    .box09_down_box {
        padding: 5px;
        width: 100%;
    }

    .box08_down_box {
        padding: 5px;
    }

    .box03_right_image {
        padding: 5px;
    }

    .box03_right_image img {
        padding: 5px;
    }

    .box02_left {
        padding: 0px;
    }

    .box02_left img {
        padding: 0px;
        width: 300px;

    }

    .box03_right_image_bottom_content {
        left: 0;
    }

    .box10_left,
    .box10_left_content-list,
    .box10_left_content-header,
    .box10_left_content-collapse p {
        width: 100%;
    }

    .wp-image-238 {
        display: none;
    }
}



@media screen and (max-width: 379px) {


    /* * {
        border: 2px solid red;
    } */

    .box_boxs-content {
        width: 100%;
        flex-direction: column;
    }

    .header_boxs-content {
        flex-direction: row;
        width: 100%;
    }


    #sticky-header,
    .header-wrapper,
    .header_boxs-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        width: 100%;
    }

    .box05 {
        display: none;
    }

    .box05b {
        display: flex;
    }

    .wp-image-238-00 {
        display: none;
    }



    body {
        /* overflow-x: hidden; */
        margin-top: 0px;
    }

    .box_heading {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .box_content {
        font-size: 14px;
    }

    .box_button,
    .box_button02 {
        font-size: 14px;
        padding: 10px;
    }


    .box03_left_list_h6 {
        font-size: 14px;
        padding: 10px 20px;
    }

    .header-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 10px;
        margin: 0;
        /* border: 2px solid red; */
    }

    .header_main-menu_ul {
        display: none;
    }

    .header_menu-bar_parent {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .header_main-menu_ul01 li {
        list-style-type: none;
    }

    .header_sub-menu_ul li {
        display: none;
    }

    .header_menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .header_menu-bar img {
        background-color: black;
        border-radius: 50%;
        width: 35px;
        cursor: pointer;
    }

    .header_menu-bar span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 35px;
        font-size: 25px;
        cursor: pointer;
        border-radius: 50%;
    }


    .header_main-menu_ul01 {
        position: absolute;
        top: 85px;
        right: 10px;
        background-color: #ffff;
    }

    .box {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* border: 2px solid green; */
        padding: 10px 50px;
        margin: 0;
    }

    .box03 {
        gap: 80px;
    }

    .box01_right {
        width: 100%;
    }

    .box01_right img {
        width: 100%;
    }

    .box01_boxs-content {
        justify-content: center;
        width: 100%;
    }

    .box04_boxs-content {
        justify-content: center;
    }

    .box05_down_box-right {
        margin-right: 10%;
    }

    .box05_down_box-left {
        margin-left: 10%;
    }

    .box06_boxs-content {
        justify-content: center;
    }

    .box07_boxs-content {
        justify-content: center;
    }

    .box08_heading {
        text-align: center;
        width: 100%;
    }

    .box08_boxs-content {
        justify-content: center;
    }


    .box09_heading {
        text-align: center;
        width: 100%;
    }

    .box10_heading {
        flex-wrap: wrap;
        width: 100%;
    }

    .box10_boxs-content {
        flex-wrap: wrap;
        gap: 50px;
    }

    .box11_heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        /* border: 2px solid green; */
        gap: 10px;

    }

    .box11_boxs-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        /* gap: 50px; */
        width: 100%;
        height: 100%;
        /* border: 2px solid green; */
        padding: 10px;
        gap: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;
    }


    #colophon {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* border: 2px solid #0A4FD5; */
        background-color: #13271d;
        border-radius: 0.5cm;
        gap: 50px;
        color: antiquewhite;
        padding: 50px;
        height: auto;
    }

    .elementor-element-bd984a0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 2px solid red; */
        gap: 20px;
        width: 100%;
    }

    .elementor-element-39c3f15 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* border: 2px solid blue; */
        gap: 20px;
    }





    .box03_right_image img {
        width: 250px;
        height: 250px;
    }

    .box03_right_image_top_content img {
        width: 50px;
        height: 50px;
    }


    .box03_right_image_top_content,
    .box03_right_image_bottom_content {
        position: relative;
        top: -300px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        /* border: 2px solid red; */
        width: 280px;
        background-color: white;
        border-radius: 2cm 5cm;
        padding: 10px;
        /* border: 2px solid red; */
    }

    .box03_right_image_top_content p {
        font-size: 14px;
    }

    .box02_left img {
        width: 350px;
    }

    .floating-content__top-left h3,
    .floating-content__bottom-right h3 {
        font-size: 20px;
    }

    .floating-content__top-left p,
    .floating-content__bottom-right p {
        font-size: 10px;
    }


    .floating-content__top-left {
        top: 110px;
        left: -50px;
        width: 150px;
    }

    .floating-content__bottom-right {
        top: -120px;
        left: 0px;
        width: 150px;
    }



    .box03_right_image_bottom_content {
        top: -120px;
        left: 20px;
    }

    .box03_right_image_bottom_content h3 {
        font-size: 20px;
    }

    .box03_right_image_bottom_content p {
        font-size: 14px;
    }


    .box04_down-service_content p {
        font-size: 14px;
    }

    .box04_down-service_content h5 a {
        font-size: 18px;
    }

    .box04_down-service_content {
        gap: 15px;
    }

    .box05_down_box-header h3,
    .box05_down_box-header span {
        font-size: 22px;
    }

    .box05_down_box-content {
        padding: 20px;
    }

    .box06_down_box {
        padding: 20px;
    }

    .box06_down_box-list {
        font-size: 14px;
    }

    .box06_down_box-choose {
        width: 80%;
    }

    .box07_down_box {
        width: 240px;
    }

    .box07_down_box_image {
        width: 240px;
    }

    .box07_down_box_image img {
        width: 240px;
    }

    .box07_down_box_a-tag {
        top: -55px;
        left: 0px;
        width: 240px;
    }

    .box07_down_box_a-tag00 {
        top: -27px;
        left: 0px;
        width: 240px;
    }


    .box08_down_box_top-image img {
        width: 260px;
        height: 240px;
        align-items: center;
        justify-content: center;
    }

    .box08_down_box_top-image img:hover {
        width: 280px;
        height: 260px;
    }

    .box10_boxs-content {
        align-items: center;
        justify-content: center;
    }

    .wp-image-301 {
        width: 250px;
        height: 250px;
    }


    .box04_heading,
    .box05_heading,
    .box06_heading,
    .box07_heading,
    .box08_heading {
        width: 100%;
    }

    .box05_down_box {
        padding: 5px;
        width: 100%;
    }


    #colophon {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* border: 2px solid #0A4FD5; */
        background-color: #13271d;
        border-radius: 0.5cm;
        gap: 50px;
        color: antiquewhite;
        padding: 20px;
        height: auto;
        margin: 0;
    }

    .footer__app {
        display: flex;
        flex-wrap: wrap;
    }

    .box09_down_box {
        padding: 5px;
        width: 100%;
    }

    .box08_down_box {
        padding: 5px;
    }

    .box03_right_image {
        padding: 5px;
    }

    .box03_right_image img {
        padding: 5px;
    }

    .box02_left {
        padding: 0px;
    }

    .box02_left img {
        padding: 0px;
        width: 300px;

    }

    .box03_right_image_bottom_content {
        left: 0;
    }

    .box10_left,
    .box10_left_content-list,
    .box10_left_content-header,
    .box10_left_content-collapse p {
        width: 100%;
    }

    .box08_down_box,
    .box08_down_box_top-image {
        width: 100%;
    }

    .box08_down_box_top-image img {
        width: 95%;
    }

    .box08_down_box_top-image img:hover {
        width: 100%;
    }

    .box04_down_box {
        width: 100%;
    }

    .mc4wp-form,
    .form-control {
        width: 100%;
    }

    .wp-image-238 {
        display: none;
    }

}
